
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #101010;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#hd {
}

h1 {
    margin: 15px 25px;
    padding: 0 0 0 125px;
    font-weight: lighter;
    letter-spacing: -1px;
    text-align: left;
    float: left;
    line-height: 52px;
    font-size: 200%;
    background: transparent url("yui-logo.png") no-repeat 0 50%;
}

#bd, #ft {
    padding: 5px 25px;
}

#bd {
    clear: both;
    /* padding to clear the fixed #ft */
    padding-bottom: 40px;
}

#ft {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bolder;
    border-top: 1px solid #666;
}

#searching {
    text-align: center;
}
