
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #101010;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#hd {
}

h1 {
    margin: 15px 25px;
    padding: 0 0 0 125px;
    font-weight: lighter;
    letter-spacing: -1px;
    text-align: left;
    float: left;
    line-height: 52px;
    font-size: 200%;
    background: transparent url("yui-logo.png") no-repeat 0 50%;
}

#bd, #ft {
    padding: 5px 25px;
}

#bd {
    clear: both;
    /* padding to clear the fixed #ft */
    padding-bottom: 200px;
}

.ft {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #666;
    background: #fff;
    font-size: 120%;
}

.ft div div {
    float: left;
    padding: 0 10px;
}

.ft div div span {
    display: block;
    font-size: 200%;
    font-weight: bold;
}

.ft .rls {
    background: #FEF198;
}

.ft .rl-length {
    background: #C0D188;
}

.ft .percent {
    background: #BAC3D5;
}

#searching {
    text-align: center;
}
